@model DWebProjFinal.Models.Utentes

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem a certeza que pretende apagar este Utilizador?</h3>
<div>
    <h4>Utilizadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
