@model DWebProjFinal.Models.Utentes
@{
    ViewData["Title"] = "DetailsByUserLogin";
}

<style>
    .fixed-height-img-big {
        max-height: 200px;
        width: auto;
        object-fit: cover;
    }

    .fixed-height-img {
        max-height: 200px;
        object-fit: cover;
    }

    .fixed-height-img-icon {
        height: 40px;
        width: auto;
    }

    .card {
        background-color: white;
        transition: 0.3s;
        color: black;
        text-decoration: none;
    }

        .card:hover {
            background-color: #ffc107;
            color: white;
        }

    }

    a {
        text-decoration: none;
    }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
</style>
<div class="row row-cols-2 mt-2">
    <div class="col-3 ">
        <img class="rounded-circle fixed-height-img"
             src="~/imagens/@Html.DisplayFor(model => model.Icon)"
             alt="Icon do Utilizador @Html.DisplayFor(model => model.Nome)"
             title="@Html.DisplayFor(model => model.Icon)" />
    </div>
    <div class="col-9">
        <div class="container mt-5">
            <h1>@Html.DisplayFor(model => model.Nome)</h1>
            <p>@Html.DisplayFor(model => model.Biografia)</p>
            <div class="row row-cols-auto mt-2">
                <div class="col">
                    <a asp-action="Edit" asp-route-id="@Model?.Id"><button class="btn btn-outline-warning">Editar Perfil</button></a>
                </div>
                <div class="col">
                    <a asp-action="ChangePassword" asp-route-id="@Model?.Id"><button class="btn btn-outline-success">Alterar Password</button></a>
                </div>
                <div class="col">
                    <a asp-action="Delete" asp-route-id="@Model.Id"><button class="btn btn-outline-danger">Apagar Conta</button></a>
                </div>

            </div>
        </div>

    </div>
</div>
<br />
<div>
    <h4>Páginas Escritas</h4>
    <hr />
    <div class="row">
        @foreach (var pagina in Model.ListaPaginas)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <a asp-controller="Paginas" asp-action="Details" asp-route-id="@pagina.Id">
                    <div className="card p-3">
                        <div class="card">
                            <img class="card-img-top fixed-height-img"
                                 src="~/imagens/@pagina.Thumbnail"
                                 alt="Thumbnail da página @pagina.Thumbnail"
                                 title="@pagina.Thumbnail" />

                            <div class="card-body">
                                <h4 className="card-title">
                                    @Html.DisplayFor(modelItem => pagina.Name)
                                </h4>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
</br>
<div>
    <a asp-controller="" asp-action="Index"><button class="btn btn-outline-success">Voltar</button></a>
</div>
