@model DWebProjFinal.Models.Utentes
@{
    ViewData["Title"] = "DetailsByUserLogin";
}

<h1>Meu Perfil</h1>

<div>
    <h4>Dados Públicos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class="col-sm-10">
            <img src="~/imagens/@Html.DisplayFor(model => model.Icon)"
                 alt="Icon do Utilizador @Html.DisplayFor(model => model.Nome)"
                 title="@Html.DisplayFor(model => model.Icon)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Biografia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Biografia)
        </dd>
    </dl>
    <h4>Dados Pessoais</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dataNasc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dataNasc)
        </dd>
    </dl>

    <h4>Páginas Escritas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListaPaginas)
        </dt>
        @foreach (var paginas in Model.ListaPaginas)
        {
            <dd class="col-sm-10"> @paginas.Name </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
