@model IEnumerable<DWebProjFinal.Models.Utentes>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    var utentes = Model.ToArray();
}

<style>
    .fixed-height-img {
        height: 200px;
        width: auto;
    }

    .fixed-height-img-icon {
        height: 40px;
        width: auto;
    }

    .card {
        background-color: white;
        transition: 0.3s;
    }

        .card:hover {
            background-color: #ffc107;
            color: white;
        }

    }
</style>
<div class="container-fluid">
    <div class="text-center">
        @if (SignInManager.IsSignedIn(User))
        {
            var userID = UserManager.GetUserId(User);
            var userName = Model.FirstOrDefault(u => u.UserID == userID).Nome;

            <h1 class="display-4">Bem-Vindo, @userName</h1>
        }
        else
        {
            <h1 class="display-4">Bem-Vindo ao HowToMaster</h1>
        }

        <p>ESTT, Engenharia Informática, Desenvolvimento Web 2024</p>
        <div></div>

    </div>

    <div class="container">
        <div class="row">
            @foreach (var utente in utentes)
            {
                @foreach (var pagina in utente.ListaPaginas)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div className="card p-3">
                            <div class="card">
                                <img class="card-img-top fixed-height-img"
                                     src="~/imagens/@pagina.Thumbnail"
                                     alt="Thumbnail da página @pagina.Thumbnail"
                                     title="@pagina.Thumbnail" />

                                <div class="card-body">
                                    <h3 className="card-title">
                                        <img class="rounded-circle fixed-height-img-icon"
                                             src="~/imagens/@pagina.Utente.Icon"
                                             alt="Icon do autor @pagina.Utente.Icon"
                                             title="@pagina.Utente.Icon" />

                                        @Html.DisplayFor(modelItem => pagina.Name)
                                    </h3>
                                    <h6 className="card-subtitle mb-2 text-muted">
                                        @Html.DisplayFor(modelItem => pagina.Utente.Nome)
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

