@model DWebProjFinal.Models.Paginas

@{
    ViewData["Title"] = "Details";
}
<style>

    .thumbnail {
        max-height: 300px;
        object-fit: cover;
    }

</style>

<img src="~/imagens/@Html.DisplayFor(model => model.Thumbnail)"
     alt="Icon do Utilizador @Html.DisplayFor(model => model.Thumbnail)"
     title="@Html.DisplayFor(model => model.Thumbnail)"
     class="card-img-top rounded-top thumbnail" />

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <div class="row">
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </h5>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
    </div>
</div>

<hr />
<div class="row row-cols-auto">
    <div class="col">
        <h5>
            Autor:
        </h5>
        <p>@Html.DisplayFor(model => model.Utente.Nome)</p>
    </div>
    <div class="col">
        <h5>
            Dificuldade:
        </h5>
        <p>Nível @Html.DisplayFor(model => model.Dificuldade)</p>
    </div>
    <div class="col">
        <h5>
            Categorias:
        </h5>

        <div class="row row-cols-auto">
            @foreach (var categoria in Model.ListaCategorias)
            {
                <div class="col">
                    @categoria.Nome
                </div>
            }
        </div>
    </div>
</div>

<div>
    <button class="btn btn-outline-warning"><a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a></button>

    <a asp-action="Index">Voltar</a>
</div>
